# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\[G].Data Structure & Algorithm Courses\ALGORITHMS OF PRINCETON UNIVERSITY\Algorithms Part II\Week 3 FULL\Week 3 QUIZ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
